
body {
    background-color: #C1B3B2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

#mainDiv {
    width: 90vw;
    height: 100vh;
    background-color: white;
}

#header {
    background-color: #C1B3B2;
    color: white;
    font-size: 40px;
    font-family: 'Cinzel', serif;
    padding-top: 10px;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #C1B3B2;
    color: white;
}

.navButtons {
    padding: 10px;
    font-family: 'Cinzel', serif;
    font-size: 15px;
}

.navButtons:hover {
    color: rgb(134, 124, 123);
    cursor: pointer;
}

/* Styling för att se vilken sida man är inne på, alltså ingen hover-effekt osv */
.currentPage {
    padding: 10px;
    font-family: 'Cinzel', serif;
    font-size: 15px;
    text-decoration: underline;
}

/* innehållsdiven på indexsidan, alltså sidan med information om mig */
#contentAboutMeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 100px 10px 100px;
}

/* innehållsdiven på kontaktsidan */
#contactContentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

h2 {
    font-family: 'Cinzel', serif;
}

