
body {
    background-color: #C1B3B2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

#mainDiv {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100vh;
    background-color: white;
}

#header {
    background-color: #C1B3B2;
    color: white;
    font-size: 40px;
    font-family: 'Cinzel', serif;
    padding-top: 10px;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #C1B3B2;
    color: white;
}

.navButtons {
    padding: 10px;
    font-family: 'Cinzel', serif;
    font-size: 15px;
}

.navButtons:hover {
    color: rgb(134, 124, 123);
    cursor: pointer;
}

/* Styling för att se vilken sida man är inne på, alltså ingen hover-effekt osv */
.currentPage {
    padding: 10px;
    font-family: 'Cinzel', serif;
    font-size: 15px;
    text-decoration: underline;
}

/* innehållsdiven på indexsidan, alltså sidan med information om mig */
#contentAboutMeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 100px 10px 100px;
}

/* innehållsdiven på kontaktsidan */
#contactContentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

h2, h3, h4 {
    font-family: 'Cinzel', serif;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(112, 90, 89);
    cursor: pointer;
}

/* innehållsdiv på erfarenheter-sidan */
#oldProjectsDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 50px 10px 50px;
    background-color: white;
}

.oneProject {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 5px 15px 15px 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
}

/* innehållsdiv på resumé-sidan */

#resume {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 50px 10px 50px;
    background-color: white;   
}

hr {
    border: 0;
    width: 90%;
    color: #555;
    background-color: #C1B3B2;
    height: 5px;
}